<div id="<%= dom_id survey %>" class="card">
  <div class="card-header">
    <%= survey.name %>
  </div>
  <div class="card-body">
    <table class="table table-bordered" style="table-layout: fixed;">
      <tr>
        <th>Name</th>
        <td><%= survey.name %></td>
      </tr>
      <tr>
        <th>Slug</th>
        <td><%= survey.slug %></td>
      </tr>
    </table>

    <%= link_to rails_blob_path(@survey.file, disposition: 'attachment'), class: 'btn btn-primary' do %>
      <i class="bi bi-download"></i> Excel
    <% end %>
    <%= link_to download_payload_survey_path(@survey), class: "btn btn-primary" do %>
      <i class="bi bi-download"></i> JSON
    <% end %>
  </div>
</div>
