<% set_meta_tags title: "Surveys" %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to root_path do %>
          <i class="bi bi-house-door"></i>
        <% end %>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Surveys
      </li>
    </ol>
  </nav>
</div>

<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to new_survey_path, class: "btn btn-primary" do %>
      <i class="bi bi-plus-lg"></i> New
    <% end %>
  </div>
</div>

<% if @surveys.size > 0 %>
  <div id="sorts">
    <div class="list-group mb-3">
      <% @surveys.each do |survey| %>
        <%= link_to survey, class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center" do %>
          <%= survey.name %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <%= paginate @surveys %>
  </div>
<% end %>


